.menu {
  overflow: visible;
  width: 86%;
  height: 180px;
  padding-top: 15px;
  background-image: url("samolet.jpg");
  text-align: center;
  padding-left: 7%;
  padding-right: 7%;
}
.menu div {
  font: 1.4rem Verdana;
}
.buttons {
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  flex-direction: row;
  align-items: baseline;
  width: 60%;
}
h2 {
  text-align: center;
  padding: 22px 0 55px 0;
  font: 1.4rem Verdana;
}
a {
  text-decoration: none;
  color: #000;
  width: 25%;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
  text-align: left;
}
a:hover {
  background-color: rgba(161,161,161,0.3);
}
.content {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 800px;
  margin: 10px auto 35px;
}
.content-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: inherit;
  margin: 1%;
  padding: 1%;
  text-align: justify;
  justify-content: space-between;
}
.content-left-block {
  width: 98%;
  height: 25%;
  border: #000 solid thin;
  padding: 1%;
  margin-bottom: 10px;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
img {
  width: 100%;
  height: 60px;
}
.content-left-block h2 {
  padding: 0;
  margin: 0;
}
.content-left-block span {
  text-align: justify;
  font: 1rem Verdana;
}
.content-right {
  display: flex;
  height: inherit;
  flex-direction: column;
  width: 35%;
  margin: 1%;
  padding: 1%;
  text-align: justify;
  justify-content: space-between;
}
.content-right-block {
  width: 98%;
  height: 25%;
  border: #000 solid thin;
  padding: 1%;
  margin-bottom: 10px;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  height: inherit;
}
.content-right-block h2 {
  text-align: left;
  padding: 0;
  white-space: normal;
}
.content-right-block img {
  width: 40%;
  height: 60px;
  float: left;
  margin-right: 0.5%;
}
.content-right-block span {
  float: left;
  text-align: justify;
  font-size: 0.8rem;
}
footer {
  width: 100%;
  height: 30px;
  border-top: solid #808080 2px;
  font: 1rem Verdana;
}
.right {
  float: right;
}
@media all and (max-width: 900px) {
  .menu {
    visibility: hidden;
    height: 300px;
  }
  .menu h2 {
    visibility: visible;
  }
  .menu .buttons {
    visibility: visible;
    text-align: center;
    flex-wrap: wrap;
    color: #000;
    justify-content: space-evenly;
  }
  .menu .buttons a {
    padding-right: 5%;
    margin-right: 5%;
  }
  .content {
    flex-flow: column;
  }
  .content .content-left {
    width: 100%;
    margin: auto;
  }
  .content .content-right {
    width: 100%;
    margin: auto;
  }
  footer {
    margin-top: 670px;
  }
}
